/* Deixando responsivo para celulares  */

@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    header {
        height: 5.5em;
        position: fixed;
        top: 0px;
        z-index: 200;
    }

    nav a {
        font-size: 1em;
        justify-content: center;
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        padding: 0.225em 0.5em;
        justify-content: center;
    }
    .imagem {
        width: 100%;
    }

    .imagem img {
        max-width: 100%;
    }

    .caixa_imagem {
        top: 50%;
        width: 20em;
    }

    .container {
        display: flex;
        flex-direction: column; 
        margin-left: 0.30vw;
        width: 93.75em;
        justify-content: center;
        text-align: center;
    }

    .roda_pe {
        display: flex;
        left: 6%;
    }

    .p1 {
        width: 30px;
        height: 40px;
    }

    .roda_pe_1 {
        display: inline-block;
    }

    .roda_pe_2 {
        margin-top: 24%;
    }

    .roda_pe_3 {
        margin-top: 55%;
        font-size: 12px;
    }

    .container {
        width: auto;
    }

    .conter1 {
        width: auto;
        margin-left: 4%;
    }
    
      
}


/* Deixando responsivo para tablets  */




/* Orientação na horizontal  */
@media (max-width: 768px) and (orientation: landscape) {
    header {
        height: 2em;
        position: fixed;
        top: 0px;
        z-index: 200;
    }

    .caixa_imagem {
        top: 90%;
        width: 30em;
    }

    .principal {
        display: inline-block;
    }
    nav ul {
        display: flex;
        flex-direction: row;
    }

    .down {
        margin-left: 10.25em;
    }

    .roda_pe_2 {
        text-align: center;
        margin-top: 6em;
    }

    .roda_pe {
        display: flex;
        flex-direction: row;
        left: 5%;
    }

    .roda_pe_3 {
        margin-top: 18em;
        font-size: 0.8em;
    }

}


