@charset "UTF-8";
@import 'variaveis.css';

body {
    background-image: url(../image/ai-generated-8297143.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.titulo {
    display: flex;
    color: aliceblue;
    font-size: 4em;
    justify-content: center;
    animation: acender 10.2s infinite alternate;
}

@keyframes acender {
    10% {
        text-shadow: 0px 0px 20px gold;
    }
    30% {
        text-shadow: 0px 0px 20px red;
    }
    50% {
        text-shadow: 0px 0px 20px greenyellow;
    }
    70% {
        text-shadow: 0px 0px 20px fuchsia;
    }
    100% {
        text-shadow: 0px 0px 20px blue;
    }
}
