@media screen and (max-width: 768px) {
    header {
        height: 5em;
        position: fixed;
        top: 0px;
        z-index: 200%;
    }

    nav a {
        font-size: 1em;
        justify-content: center;
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        padding: 0.225em 0.5em;
        justify-content: center;
    }
    .imagem {
        width: 100%;
    }

    .imagem img {
        width: 110%;
    }

    .caixa_imagem {
        margin-left: 4%;
        top: 50%;
        width: 20em;
    }

    .container {
        display: flex;
        flex-direction: column; 
        margin-left: 0.30vw;
        width: 93.75em;
        justify-content: center;
        text-align: center;
    }

    .roda_pe_1 {
        display: inline-block;
    }

    .roda_pe_2 {
        margin-top: 20%;
    }

.roda_pe_3 {
    margin-top: 50%;
}
    
      
}