@charset "UTF-8";

body {
    background-color: rgb(235, 227, 195);
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header {
    background-color: #3333332d;
    backdrop-filter: blur(20px);
    color: #fff;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 100;
}
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 4px 4px #1f1f1f;
    transition: 0.5s;
}
nav a:hover {
    color: aqua;
    font-size: 40px;
    transition: 1s;
}

li#primeiro {
    margin-right: 40vw;
}
.imagem img {
    width: 100%;
    height: 700px;
    z-index: -1;
    margin-bottom: 10px;
}

.caixa_imagem {
    position: absolute;
    width: 650px;
    height: 450px;
    top: 35%;
    left: 50%;
    backdrop-filter: blur(30px);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.116);
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 50px;
    background-image: linear-gradient(to top, #ffffff0a, #0000003a); /* Gradiente de preto para branco */
}
img#git {
    width: 2em;
    height: auto;
    cursor: pointer;
}
img#git:hover{
    width: 2.5em;
}
img#insta {
    width: 3.5em;
    height: auto;
    cursor: pointer;
}
img#insta:hover{
    width: 4em;
}
img#face {
    width: 2em;
    height: auto;
    cursor: pointer;
}
img#face:hover{
    width: 2.5em;
}
.container {
    display: flex; /* Define um contêiner flex */
    margin-left: 10vw;
    width: 1500px;
    justify-content: center;
    text-align: center;
}
.conter1 {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 400px;
    height: 450px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
.conter1 p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.desc {
    display: flex;
    flex-direction: row;
}
.down {
    margin-top: 300px;
    margin-left: 20px;
}
.down img {
    margin-left: 120px;
    width: 30px;
    cursor: pointer;
}

.caixa1 {
    background-image: linear-gradient(-30deg, #051df5 0%, #ee1313 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    cursor: zoom-in;
    transition: width 0.5s ease;
}
.caixa1:hover {
    height: 310px;
    width: 310px;
    box-shadow: 0px 0px 2px 2px black;
}
.ajuste {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao_grau {
    margin: 0 10px; /* margem esquerda e direita para espaçamento entre os elementos */
    margin-top: 19px;
    cursor: pointer;
}

input#meuInput {
    margin-top: 20px;
}
.descricao{
    margin-top: 330px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.descricao:hover {
    text-shadow: 1px 1px 1px rgba(172, 21, 21, 0.5);
}
.caixa2 {
    background-image: linear-gradient(to top, rgb(218, 218, 218) 0%, rgb(206, 203, 203) 1%, #e0e0e0 26%, #f8f4f4 48%, #d9d9d9 75%, #9e9c9c 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    cursor: zoom-in;
    transition: width 0.5s ease;
}
.caixa3 {
    background: linear-gradient(to right, #c2bf14, #e94dee);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: width 0.5s ease;
}
.caixa4 {
    background-image: linear-gradient(-20deg, #b827fc 0%, #1dd0f8 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: width 0.5s ease;
}
.caixa21 {
    background-image: linear-gradient(to top, #c5872b 0%, #ca3e25 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa22 {
    background: linear-gradient(to right, #0cbac0, #e90d8d);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa23 {
    background-image: linear-gradient(to top, #746892 0%, #eebadf 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa24 {
    background: linear-gradient(to right, #1ef8f8, #a70737);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa31 {
    background: linear-gradient(to right, #12beb6, #84f064, rgb(130, 197, 43));
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa32 {
    background: linear-gradient(to right, #a70a0a, #ff0095);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa33 {
    background: linear-gradient(to right, #0e665f, #bb99ad);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa34 {
    background: linear-gradient(to right, #0614df, #ff0095);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa41 {
    background-image: linear-gradient(to top, #fdcbef 0%, #a4c0f1 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa42 {
    background-image: linear-gradient(to right, #06e7eb 0%, #f60ffa 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa43 {
    background-image: linear-gradient(to right, #ebe6e1 0%, #304352 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa44 {
    background-image: linear-gradient(-225deg, #61ddc0 0%, #debdee 48%, #5e4ce2 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}




.container a {
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: white;
    
}
.container a:hover {
    box-shadow: 0 0 9px 9px rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.5s;
}

img#gif {
    max-width: 40%;
    height: auto;
}
.caixa_imagem p {
    color: white;
    font-size: 1.4em;
    text-shadow: 2px 2px 2px black;
}

.roda_pe {
    margin-top: 2%;
    position: absolute;
    left: 79.8%;
    align-items: center;
}
  
.p1 {
    text-align: center;
    align-items: center;
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 8px;

}
.p1:hover{
    box-shadow: 1px 1px 1px 1px rgb(70, 68, 68);
}
.roda_pe_2 {
    margin-top: 5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.p1 a {
    text-decoration: none;
    color: #000000;
}

.roda_pe_2 button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background: linear-gradient(to right, #2022203a, #02020218);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.roda_pe_2 button:hover {
    box-shadow: 2px 2px 2px 2px rgb(28, 50, 170);
}
.roda_pe_3 {
    text-align: center;
    margin-top: 10%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); 
}
  

