@charset "UTF-8";

body {
    background-color: rgb(235, 227, 195);
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header {
    background-color: #3333332d;
    backdrop-filter: blur(20px);
    color: #fff;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 100;
}
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 4px 4px #1f1f1f;
    transition: 0.5s;
}
nav a:hover {
    color: aqua;
    font-size: 40px;
    transition: 1s;
}

li#primeiro {
    margin-right: 40vw;
}
.imagem img {
    width: 100%;
    height: 700px;
    z-index: -1;
    margin-bottom: 10px;
}

.caixa_imagem {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 30%;
    left: 50%;
    backdrop-filter: blur(30px);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.116);
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 50px;
    background-image: linear-gradient(to top, #ffffff0a, #0000003a); /* Gradiente de preto para branco */
}
.container {
    display: flex; /* Define um contêiner flex */
    margin-left: 10vw;
    width: 1500px;
    justify-content: center;
    text-align: center;
}
.conter1 {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 400px;
    height: 400px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;

    
}
.caixa1 {
    background-image: linear-gradient(to top, #051df5 0%, #ee1313 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa2 {
    background-image: linear-gradient(to top, rgb(218, 218, 218) 0%, rgb(206, 203, 203) 1%, #e0e0e0 26%, #f8f4f4 48%, #d9d9d9 75%, #9e9c9c 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa3 {
    background: linear-gradient(to right, #c2bf14, #e94dee);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa4 {
    background-image: linear-gradient(-20deg, #b827fc 0%, #1dd0f8 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa21 {
    background-image: linear-gradient(to top, #c5872b 0%, #ca3e25 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa22 {
    background: linear-gradient(to right, #0cbac0, #e90d8d);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa23 {
    background-image: linear-gradient(to top, #746892 0%, #eebadf 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa24 {
    background: linear-gradient(to right, #1ef8f8, #a70737);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa31 {
    background: linear-gradient(to right, #12beb6, #84f064, rgb(130, 197, 43));
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa32 {
    background: linear-gradient(to right, #a70a0a, #ff0095);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa33 {
    background: linear-gradient(to right, #0e665f, #bb99ad);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa34 {
    background: linear-gradient(to right, #0614df, #ff0095);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.caixa41 {
    background-image: linear-gradient(to top, #fdcbef 0%, #a4c0f1 100%);
    border-radius: 200px;
    height: 300px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}




.container a {
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: white;
    
}
.container a:hover {
    box-shadow: 7px 8px 9px black;
    border-radius: 1px;
    transition: 0.5s;
}

img#gif {
    max-width: 40%;
    height: auto;
}
.caixa_imagem p {
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px black;
}

.roda_pe {
    margin-top: 2%;
    position: absolute;
    left: 79.8%;
    align-items: center;
}
  
.p1 {
    text-align: center;
    align-items: center;
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 8px;

}
.p1:hover{
    box-shadow: 1px 1px 1px 1px rgb(70, 68, 68);
}
.roda_pe_2 {
    margin-top: 6%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.p1 a {
    text-decoration: none;
    color: #000000;
}